
body, html {
	min-width: 300;
	background-color: #bfbdbe;
	overflow: scroll;
}

.wrapper {
	display: flex;
}
.container1 {
	max-width: 1000px;
	overflow: wrap;
	flex: 2 1 auto;
	background: #bfbdbe;
 	padding: 0.5rem;
 }
.container2 {
	min-width: 250px;
	overflow: wrap;
	flex: 1;
	width: 30%;
	background: #bfbdbe;
 	padding: 0.5rem;
 }
.errorSpot {
	background: #bfbdbe;
	height: 46px;
	overflow: hidden;
	padding-left: 10px;
	padding-top: 10px;
	width: 100%;
}

#showError {
	color: red;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}
.emptySpot {
	background: #bfbdbe;
	font-size: 20px;
	height: 30px;
	width: 100%;
}
.userSpot {
	font-family: 'Handlee', sans-serif;
	font-weight: bold;
	font-size: 30px;
	background: #bfbdbe;
	height: 30px;
	width: 100%;
	padding-bottom: 45px;
	text-decoration: underline wavy #b5fcf5;

}
.activeSpot {
	font-family: 'Handlee', sans-serif;
	font-weight: bold;
	font-size: 30px;
	background: #bfbdbe;
	height: 30px;
	width: 100%;
	padding-bottom: 45px;
	text-decoration: underline wavy #b5fcf5;
}
.chatContainer {
	border: solid #F1BFDC 6px;
	background: #efa7d7;
	width: 100%;
	height: 650px;

	overflow-y:auto;
	overflow-x:hidden;
	position:relative;
	display:flex;
	flex-direction: column-reverse;
}

#messages {
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}


.userContainer {
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
	border: solid #F1BFDC 6px;
	background-color: #efa7d7;
	width: 100%;
	height: 650px;
	overflow: scroll;
	padding-left: 20px;
	overflow-y:auto;
	overflow-x:hidden;
	position:relative;
	display:flex;
	flex-direction: column-reverse;
}

form {
	width: 100%;
    height: 70px;
    background-color: #a09fa0;
    padding: 15px;
    padding-bottom: 
}

form input { 
	height: 40px;
	width: 85%;
}

form button { 
	font-family: 'Handlee', cursive;
	font-size: 25px;
	background: #CCDAC7; 
	font-weight: bold;
	line-height: 32px;
	height: 40px;
	border: dotted white 4px;
	vertical-align: middle;
	text-align: center;
	width: 10%;
	margin-left: 20px;
}

@media screen and (max-width: 700px) {
	form button {
		font-size: 18px;
	}

	.userSpot {
		font-size: 22px;
	}
	.activeSpot {
		font-size: 22px;
	}

	.userContainer {
		font-size: 18px;
	}
	.messages {
		font-size: 18px;
	}
}
